header {
  width: 100%;
  margin-bottom: 33px;
}

header .user {
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .user>ul {
  display: flex;

}

header .user>ul>li {
  padding: 5px;
  justify-content: center;
}