/* USER HEADER */

header {
  width: 100%;
  margin-bottom: 33px;
}

header .user {
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

header .user>h3 {
  font-size: 18px;
  font-weight: 600;
}

header .user__logo {
  padding-left: 27px;
}

header .user .utility {
  display: flex;
  width: 66px;
  justify-content: space-between;
  margin-right: 27px;
}


/* MONEY RELATED HEADER */
