body {
  background-color: #ddd;
}

.wrap {
  background-color: #EEEBE5;
  font-family: 'Noto Sans KR',
    'Roboto Flex';
  max-width: 375px;
  max-height: 812px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.wrap--white {
  background-color: #fff;
  font-family: 'Noto Sans KR',
    'Roboto Flex';
  max-width: 375px;
  max-height: 812px;
  height: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  position: relative;
}

.wrap img {
  display: block;
}

a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20.72px;
  letter-spacing: -0.24px;
  font-weight: 500;
  color: #333;
}

.account__status {
  margin-bottom: 21px;
}

.account__status .account__info {
  width: 279px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  border-radius: 12px;
  z-index: 1;
  padding: 14px 0 6px;
  margin: 0 auto 21px;
  display: block;
  text-align: center;


}

.account__status .account__info>li {
  margin-bottom: 16px;
}

.account__status .account__info>li>strong {
  color: #858585;
}

.account__status .account__info .account__transfer {
  margin: auto -65px auto 27.49px;

}

.account__status .account__info .account__balance {
  font-size: 24px;
  line-height: 35.52px;
}



.account__status .account__info .account__bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.account__status .account__info .account__bar .account__bar__grey {
  background-color: #ccc;
  float: left;
  margin: auto 30px;
  width: 202px;
  height: 6px;
  border-radius: 6px;

}



.account__status .account__info .account__bar .account__bar__yellow {
  background-color: #FFDB4C;
  border-radius: 6px 0 0 6px;
  height: 100%;
  width: 70%;
  position: relative;
}

.account__status .account__info .account__bar .account__bar__yellow>input {
  position: absolute;
  top: -50%;
  transform: translateY(-25%);
  right: 0;
  width: 8px;


}


.account__status .account__info .account__bar .account__bar__icon {
  margin-right: 14px;
}

.account__status .account__info .account__duedate {
  margin: 2px;
  color: #858585;
}

.account__status .account__getrich {
  text-align: center;
  color: #000;
}

.account__status .account__getrich>a {
  font-weight: 600;
}

.account__history {
  background-color: #fff;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
}

.account__history .save__list {
  width: 308px;
  margin: 0px auto 25px;
  padding-top: 25px;
  overflow: hidden;
}


.account__history .save__list ul {
  overflow: hidden;
  width: 200%;

}

.account__history .save__list ul li {
  background-color: #ccc;
  margin-right: 18px;
  float: left;
  width: 162px;
  height: 47px;
  border-radius: 6px;
  overflow: hidden;
}

.account__history .save__list ul li div {
  background-color: #FF5F00;
  height: 100%;
  width: 70%;
  padding-left: 10px;
  padding-top: 5px;
}

.account__history .save__list ul li:nth-child(2) div {
  background-color: #FEB700;
}

.account__history .save__list ul li div p {
  font-size: 14px;
  color: #fff;
  line-height: 18px;

}

/* .account__history .save__list ul li div p.save__title {}

.account__history .save__list ul li div p.save__money {} */

.account__history .recent__list {
  width: 308px;
  height: auto;
  margin: 0px auto;
  color: #858585;

}

.account__history .recent__list>li {
  box-sizing: border-box;
  border-bottom: 1px solid #858585;
  padding: 5px;
}

.account__history .recent__list>li:last-child {
  border-bottom: none;
}

.account__history .recent__list__title {
  font-weight: 700;
  size: 14px;
  color: #333;
}